[Unit]
Description=CamillaDSP Audio Engine
After=network.target sound.target gadget_init.service snd_aloop.service
Requires=gadget_init.service snd_aloop.service

[Service]
User=top
Type=simple
ExecStart=/home/top/AudioBerry/cdsp/camilladsp -g-6 -l error -o /home/top/AudioBerry/cdsp/camilladsp.log -p 1234 /home/top/AudioBerry/cdsp/configs/uac2.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target
