[Unit]
Description=CamillaDSP Backend and GUI
After=multi-user.target camilladsp.service
Requires=camilladsp.service

[Service]
User=top
Type=idle
ExecStart=/home/top/AudioBerry/cdsp/cam_gui/camillagui_backend

[Install]
WantedBy=multi-user.target
