[Unit]
Description=Gadget Boot Starter
After=multi-user.target

[Service]
Type=simple
ExecStart=sudo /home/top/AudioBerry/uac2/gadget_init.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
